extends layout

block content
  h1= title

  div(class="col-md-4")
    h2 Create farmer

    form(action="/farmers/create", method="post", class="well")
      div(class="form-group")
        label(for="lastname")
          | Farmer's lastname:
        input(type="text", name="lastname", class="form-control")
      input(type="submit" class="btn btn-default")

  div(class="col-md-6")
    h2 Farmers

    ul
      each farmer in farmers
        li
          strong
            = farmer.lastname
          | &nbsp;
          a(href="/farmers/" + farmer.id + "/destroy", class="btn btn-xs btn-warning") delete
          ul
            li
              | Create Farm
              form(action="/farmers/" + farmer.id + "/tasks/create", method="post", class="form-inline")
                div(class="form-group")
                  input(type="text", name="farmcode", class="input-sm form-control")
                  input(type="submit", class="btn btn-sm btn-default")
            each farm in farmer.Farms
              li
                strong
                  = farm.farmcode
                | &nbsp;
                a(href="/farmers/" + farmer.id + "/tasks/" + farm.id + "/destroy",  class="btn btn-xs btn-warning") delete